<div class="grid-item {% if post.featured %} grid-item--width2{% endif %} {{post.categories}} px-2 pb-4 mb-2">
  <div class="card rounded-0 border-3 border-dark border-start-0 border-end-0 border-top-0">
    {% if post.coverImg %}<a href="{{post.url}}"><img src="{{post.coverImg}}" class="card-img-top" alt="..."></a>{% endif %}
      <div class="card-body p-0 pb-1">
        <small class="bold">
          {%if post.categories%}{% for category in post.categories %}{% assign cat = site.categories | where: 'relative_path', category | first %}
          {% if cat %}<span class="text-danger"><a class="text-reset" href="{{cat.url}}">{{cat.title}}</a></span> | {% endif %}
          {% endfor %}{%endif%}<span class="persianDate" data-timestamp="{{post.date | date: '%s'}}"></span>
        </small>
        <h3 class="card-title {% if post.featured %}display-4 {%else%}display-6 {%endif%}p-0 m-0"><a class="text-reset" href="{{post.url}}">{{post.title}}</a></h3>
        <div class="card-text p-0">
          {% for tag in post.tags %}{%assign tg = site.tags | where: 'relative_path', tag | first%}<a href="{{tg.url}}" class="btn btn-light rounded-pill"><i class="bi bi-hash"></i>{{tg.title}}</a>{%endfor%}
          {% for geotag in post.geotags %}{%assign gtg = site.geotags | where: 'relative_path', geotag | first%}<a href="{{gtg.url}}" class="btn btn-light rounded-pill"><i class="bi bi-geo-alt-fill"></i>{{gtg.title}}</a>{%endfor%}
        </div>
      </div>
  </div>
</div>
