<div class="mt-5 pt-5 pb-5 footer bg-dark text-white">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/logo-white.png" alt="" width="60" height="66">
      </a>

      <h1>جنوب‌شهر</h1>
      <p class="pr-5 text-white-50">هسته خوانش شهرهای ایران از منظر مطالعات شهرهای جنوب </p>
      <p><a href="https://twitter.com/jonubshahr"><i class="bi bi-twitter"></i></a>   <a href="https://instagram.com/jonubshahr"><i class="bi bi-instagram"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">پیوندها</h4>
        <ul class="m-0 p-0">
          {% for item in site.data.topnav %}
          <li class="{% if page.url == item.link %} active{% endif %} {% if item.name == 'login' %}existingUserQ newUser{% endif %}{% if item.name == 'user' %}welcomeUserTxt loggedin{% endif %}">
            <a {% if item.name == 'login' %}data-toggle="modal" data-target="#modalLoginForm"{% endif %} class="{% if page.url == item.link %} active{% endif %}" href="{{ item.link }}">
              {% if item.name == 'login' %}<span>ورود / عضویت</span>{% endif %}
              {{ item.label }}
              {% if page.url == item.link %} <span class="sr-only">(کنونی)</span>{% endif %}
              {% if item.name == 'user' %}<span class="userFullName"></span>{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">تماس</h4>
      <p><i class="bi bi-geo-alt-fill"></i> تهران، خیابان وصال شیرازی، تقاطع خیابان ایتالیا، دانشکده شهرسازی دانشگاه تهران</p>
      <p class="mb-0" dir="ltr"><i class="bi bi-telephone-fill"></i> (21) 666-6666</p>
      <p  dir="ltr"><i class="bi bi-envelope-fill"></i> info@jonubshahr.ir</p>
    </div>
  </div>
  <div class="row mt-5 text-center" dir="ltr">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2022 jonubshahr.ir | All Rights Reserved.</small></p>
    </div>
  </div>
</div>
</div>
