---
layout: default
---
{%assign pagecollection = site.collections| where: "label", page.collection | first %}
<script type="text/javascript">
</script>
<div class="container pt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="text-danger"><a class="text-reset" href="/{{pagecollection.label}}">{{pagecollection.title}}</a></h3>
      <h1 class="display-1">{{page.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row border-between" data-masonry='{"originLeft": false, "columnWidth": ".grid-sizer", "itemSelector": ".grid-item","percentPosition": true }'>
          <div class="grid-sizer"></div>
          {% assign filtered_posts = site.posts | where: pagecollection.label, page.relative_path  %}
          {% for post in filtered_posts %}
          {% include card.html%}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
