---
layout: default
---

{% for category in page.categories %}{% assign cat = site.categories | where: 'slug', category | first %}
{% if cat %}{% assign botcat = cat.title %}{% assign botcaturl = cat.url %}{% endif %}
{% endfor %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="text-danger">
          <a href="{{botcaturl}}" class="text-reset">{{botcat}}</a>
        </h3>
        <h1 class="display-1">{{page.title}}</h1>
        {% if page.date %} {% for author in page.authors%}{{author}}{%endfor%}<p class="persianDate text-muted" data-timestamp="{{page.date | date: '%s'}}"></p>{% endif %}
      </div>
      <div class="col-12">
        <img src="{{page.coverImg}}" class="img-fluid w-100" alt="" style="height:100vh;object-fit:cover;">
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6 lead pt-3">
        {{page.content| markdownify}}
      </div>
    </div>
  </div>
</section>
